
scikit-learn
pickle
xgboost
Pillow
streamlit
tensorflow
matplotlib==3.10.0
streamlit==1.35.0
pandas==2.2.2
numpy==1.26.4

python -m venv test-env
source test-.\test-env\Scripts\activate
pip install -r requirements.txt
git add requirements.txt
git commit -m "Fix broken dependencies"
git push
